*{
    text-align: center;
}
img{
    align: center;
    width: 70%;
}
a{
    max-width: 16%;
    max-height: 16%; 
}
main{
    width: 100%;
}
.img1{
    background-image: 'img/1.png';
}
audio{
 width:150%;
}